<h1>Edit a recipe</h1>
<%= form_tag '/presidents/#{@President.id}', method: :patch do %>
<div>
  <input type="text" name="first_name"> <input type="text" name="last_name">
</div>
<div>
  $<input type="text" name="price">
</div>
<div>
  <input type="text" name="termination"> <input type="text" name="description">
</div>
<input type="submit" value="Update President">
<% end %>