<h1>New President</h1>
<%= form_tag '/presidents/', method: :post do %>
<div>
  First Name<input type="text" name="first_name"> Last Name<input type="text" name="last_name">
</div>
<div>
  Price $<input type="text" name="price">
</div>
<div>
  Year<input type="text" name="termination"> Desc<input type="text" name="description">
</div>
<input type="submit" name="Birth president">
<% end %>